/* BASIS SETTING */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-family: 'Prompt', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* LAYOUT */
.menu {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 60px 0;
}

.menu__item {
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
  padding: 2px;
}

.menu__item:hover {
  border-bottom: 2px solid #fff;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.top {
  height: 500vh;
}

.top__layer {
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* Для скрола*/
  /* animation-timeline: scroll(); */

  /* Для авто анимации */
  animation-duration: 3s;

  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-range: 0 500vh;
}

/* ANIMATION */

@keyframes top-layer-5 {
  to {
    scale: 1.25;
  }
}
.top__layer--5 {
  animation-name: top-layer-5;
}

@keyframes top-layer-4 {
  to {
    scale: 1.35;
  }
}
.top__layer--4 {
  animation-name: top-layer-4;
}

@keyframes top-layer-3 {
  to {
    scale: 1.5;
  }
}
.top__layer--3 {
  animation-name: top-layer-3;
}

@keyframes top-layer-2 {
  to {
    scale: 2;
  }
}
.top__layer--2 {
  animation-name: top-layer-2;
}

@keyframes top-layer-1 {
  to {
    scale: 4;
  }
}
.top__layer--1 {
  animation-name: top-layer-1;
}

/* TEXT*/
.top__text {
  font-family: 'Gravitas One', serif;
  position: relative;
  z-index: 1;

  opacity: 0;
  animation-name: text;

  /* Для скрола*/
  /* animation-timeline: scroll(); */

  /* Для авто анимации */
  animation-duration: 3s;

  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-range: 250vh 350vh;
}
@keyframes text {
  to {
    opacity: 1;
  }
}

.title {
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 400;
}

.text {
  font-size: 24px;
}

/* BUTTON */
.arrows-box {
  position: fixed;
  border: 1px solid #fff;
  background-color: rgb(30, 30, 30, 0.5);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 50px;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.arrows-box:hover {
  transform: scale(1.09);
}

.arrows {
  position: relative;
  margin: 23px auto;
  width: 12px;
  height: 12px;
}

.arrows::after,
.arrows::before {
  content: '';
  position: absolute;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  width: 100%;
  height: 100%;

  animation: arrow 3s linear infinite;
}

.arrows::after {
  animation: arrow 3s linear -1.5s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: translate(0, -10px) rotate(-45deg);
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 0) rotate(-45deg);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate(0, +10px) rotate(-45deg);
  }
}
